body{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color:#99e6ff;
}
h2{
    font-family: 'Black And White Picture', sans-serif;
font-size:40px;
}
img{
 height:200px;
 width:200px;
 padding:40px;
}
